
.text {
  font-size: 50px;
  color: #35CE8D;
  text-align: left;
  text-shadow: 1px 1px 1px black;
}

.text-sub {
  font-size: 30px;
  color: black;
}



.index-header {
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-family:'Anton', sans-serif;;

}

.search-field {
  height: 50px;
}

.search-btn {
  border: 0px;
  background: transparent;
  transform: translateX(-40px);
}

.booking-btn {
  width: 290px;
}


.new-container {
  width: 700px;
  justify-content: center;
  text-align:center;
}

.text-sub {
  font-size:20px;
}
