// // Specific CSS for your home-page

.btn-primary {
  background-color:#35CE8D;
  border: none;
  color:#E1E9E5;
  margin: auto 0;
  font-size: 25px;
  font-weight: bold;
  border-radius: 12px;
  justify-content: space-around;
  // justify-content: center;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  &:hover {
    color:#35CE8D
  }
}

.buttons {
  width: 340px;
  display: flex;
  justify-content: space-evenly;
}


.shoes-bg-img{
  position: relative;
  text-align: center;
  color: rgb(1, 1, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.3)), url("sneaker_wallpaper.png");
}

.txt-centered {
  // positioning
  position: absolute;
  top: 41vh;
  left: 45vw;
  transform: translate(-50%, -50%);
  // looks
  margin: 65px;
  margin-left: 75px;
  color:white;
  font-family: MONOSPACE;
  text-shadow: 10px 10px 10px rgba(0,0,0,4.0);
  font-size:130px;
  font-weight: bold;
  text-align: center;
}

.home-btn-centered {
  position: absolute;
  top: 59vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.bg-img-size {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
