
<div class="shoes-bg-img">
  <div class="bg-img-size"></div>
  <h1 class = "txt-centered"><strong>SNEAKERSPOT</strong></h1>
  <%= link_to "RENT A SHOE", shoes_path, class: "btn btn-primary buttons home-btn-centered"%>
</div>
