//changed the background color
body {
  background-color: #E1E9E5;
}

.row  {
  justify-content: center;
  text-align: center;
}

//changed the text of AVAILABLE TO RENT//
.text-center  {
  font-family: Georgia;
  font-size: 35px;
}

.row a {
  text-decoration: none;
}

.card-body {
  font-family: georgia;
  color: black;
}


.card-img-top {
  height: 200px;
  object-fit: cover;
  padding: 10px;
}

// on hover add box-shadow the card.
.card-hover :hover {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
