<h1> Shoes To rent </h1>

<ul>
  <% @shoes.each do |shoe| %>
    <li>-----------------------------------</li>
    <li><%= shoe.name %> </li>
    <li><%= shoe.brand %></li>
    <li><%= shoe.price_per_day %></li>
    <button><%= link_to "Shoe Details", shoe_path(shoe) %></button>
    <li>-----------------------------------</li>
  <% end %>
</ul>
